{% extends 'base.html' %}
{% load  static  %}
{% block content %}
<div class="col-sm-12 " style=" margin-top:100px;"></div>
<h1 style="  text-align: center; color:black;"><i> Admin dashboard</i></h1>
{% comment %} <form action="" method="post">
    {% csrf_token %}
</form> {% endcomment %}
<div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'book-list' %}"><input type="submit" value="View Books" class="btn btn-primary"></a><br><br>
    <a href="{% url 'book-create' %}"><input type="submit" value="Add book" class="btn btn-primary"></a>
</div>
{% endblock content %}