{% extends 'base.html' %}
{% load  static %}
{% block content %}
<div class="col-sm-12 " style='margin-top:100px;'></div>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{book.book_name}}</h2>
        {% for auth in book.authors.all %}
                    <h6 class="card-subtitle mb-2 text-muted">by{{auth.author_name}}</h6>
        {% endfor %}

        <div class="row mb-3">
            <div class="col-md-6">
                <p><strong>Category:</strong>{{book.book_cate}}</p>
                <p><strong>Published Date:</strong>{{book.book_published_year}}</p>
            </div>
        </div>
    </div>
</div>
        <div class="mt-4">
            <a href="{% url 'book-update' book.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'book-delete' book.pk %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'book-list' %}" class="btn btn-primary">Back to List</a>
        </div>
{% endblock content %}