{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-5 " style='margin-top:100px;'></div>
<h3 style="color:black;"><i>Book Detail</i></h3><br><br>
{% for book in books %}
    <div class="card col-sm-5">
      <div class="card-body">
          <h2 class="card-title">{{book.book_name}}</h2>
          {% for auth in book.authors.all %}
          <h6 class="card-subtitle mb-2 text-muted">by{{auth.author_name}}</h6>
          {% endfor %}
          <div class="row mb-3">
            <div class="col-md-6">
              <p><strong>Book Category : </strong>{{book.book_cate}}</p>
              <p><strong>Book year : </strong>{{book.book_published_year}}</p>
            </div>
          </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p>No books found.</p>
    </div>
{% endfor %}
{% endblock content %}
