{% extends 'base.html' %}
{% load  static  %}
{% block content %}

<div class="col-sm-5" style="margin-top:70px;">
    <h3 style="color:black;"class="my-3"><i>Login  Page</i></h3>
  <form method="POST">
      {% csrf_token %}
       {{form.as_p}}
      <input type="submit" class="btn btn-primary" value="Login"><br><br>
  </form>
  <a href="{% url 'social:begin' 'github' %}" class="btn btn-primary btn-lg d-block mb-2">
    <i class="fab fa-github"></i> Login with GitHub
  </a>

  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-lg d-block">
    <i class="fab fa-google"></i> Login with Google
  </a>
{% comment %} <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a> {% endcomment %}
</div> 
{% endblock content %}

